.form-text-input {
    background: transparent;
    border-bottom: 1px solid #cccccc;
    border-radius: 0;
    padding: 12px 0;
    font-weight: 400;
    width: 100%;
    margin-bottom: 16px;
    font-size: 16px;
}

.form-text-input::placeholder {
    color: #242221;
    opacity: 1;
    font-weight: 400;
}

.form-text-input:focus {
    outline: none;
    border-bottom: 1px solid #242221;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-size: 14px;
}

.form-checkbox {
    display: none;
    transition: .3s;
}

.form-checkbox + label {
    position: relative;
    padding-left: 34px;
    cursor: pointer;
    display: inline-block;
    color: #000;
    font-size: 13px;
    font-weight: 300;
}

.form-checkbox + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid #D5D5D5;
    border-radius: 0;
    box-sizing: border-box;
}

.form-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    width: 12px;
    height: 12px;
    background: #999;
    border-radius: 0;
    padding: 2px;
    box-sizing: border-box;
}

.form-checkbox + label span {
    vertical-align: middle;
}
